.footer {
  /* background-color: #6f6f6f; */
  background-color: #181716;
  padding: 1.5rem 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  row-gap: 40px;
}
.footer__logo img {
  max-width: 12.5rem;
}
.contact-btn {
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
  border: 3px solid #7cb0a2;
  padding: 0.625em 1.04em;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .contact-btn:hover {
    background-color: #4d6f66;
  }
}
@media (max-width: 550px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .footer__logo img {
    height: 35px;
  }
  .contact-btn {
    font-size: 1rem;
  }
}