<section class="page-info">
  <div class="page-info__container">
    <div class="page-info__item item-info item-info_1">
      <div class="item-info__image">
        <img src="../../assets/images/signUp.png" alt="sign up image" />
      </div>
      <div class="item-info__content">
        <div class="item-info__title">Авторизація</div>
        <div class="item-info__text">
          Ти військовий і потребуєш допомоги? Авторизуйся на сайті як військовий
          та підтвердь свою приналежність до збройних сил відповідним
          документом, щоб залишити запит про необхідну тобі чи твоєму підрозділу
          допомогу. <br />
          <br />
          Ти волонтер і хочеш допомогти військовим? Авторизуйся на сайті як
          волонтер та починай обирати запити, які маєш змогу закрити.
        </div>
        <app-signup-button></app-signup-button>
      </div>
    </div>
    <div class="page-info__item item-info item-info_2">
      <div class="item-info__content">
        <div class="item-info__title">Запити</div>
        <div class="item-info__text">
          Якщо ти вже авторизований як волонтер, можеш обрати запит. Щоб
          переглянути всі запити, натисніть:
        </div>
        <a routerLink="requests-page" class="info-page__button">Переглянути</a>
      </div>
      <div class="item-info__image">
        <img src="../../assets/images/signUp.png" alt="sign up image" />
      </div>
    </div>
  </div>
</section>
