<div class="request-body">
  <div class="request-body__top">
    <div class="user-image">
      <img hidden src="" alt="avatar">
    </div>
    <div class="user-info">
      <div class="user-name">{{userName}}</div>
      <div class="user-type">{{userType}}</div>
    </div>
  </div>
  <div class="request-body__bottom">
    <h4 class="requst-title">{{requestTitle}}</h4>
    <p class="request-content">
      {{showMore? requestContent : requestContent | slice:0:30}}
      <span style="cursor:pointer" *ngIf="textOverflow" (click)="showMore = !showMore">...показати <span>{{showMore? "менше" : "більше"}}</span> </span>
    </p>
  </div>
</div>