<div class="wrapper">
    <app-header></app-header>
    <main class="account-page">
        <div class="account-page__container">
            <div class="user-page__body">
                <div class="body-user__info">
                    <div class="body-user__photo">
                    </div>
                    <div class="body-user__content">
                        <div class="user-name">Username</div>
                        <div class="user-type">user type</div>
                        <div class="user-verified"><mat-icon>verified_user</mat-icon></div>
                    </div>
                </div>
                <div class="body-user__actions">
                    <button class="body-user__action">
                        <mat-icon class="action-icon">library_add</mat-icon>
                        <div class="action-type">cтворити запит</div>
                    </button>
                    <button class="body-user__action">
                        <mat-icon class="action-icon">settings</mat-icon>
                        <div class="action-type">налаштування</div>
                    </button>
                    <button class="body-user__action">
                        <mat-icon class="action-icon">list</mat-icon>
                        <div class="action-type">мої запити</div>
                    </button>
                </div>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</div>
