<section class="hero-section__body">
  <div class="blur">
    <div class="hero-section__content">
      <div class="hero-section__title">Volunteer Community</div>
      <div class="hero-section__descr">
        Платформа створена для того, аби полегшити координацію військових та
        волонтерів. Військові реєструються та подають запит, а волонтери їх
        опрацьовують
      </div>
      <div class="hero-section__actions">
        <app-login-button></app-login-button>
        <app-signup-button></app-signup-button>
      </div>
    </div>
  </div>
</section>
