.header {
  background-color: #181716;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}
.header__logo {
  display: inline-block;
  z-index: 7;
}
.header__logo img {
  max-width: 12.5rem;
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2.1875rem;
  row-gap: 5px;
}
.menu__link {
  color: #ffffffc7;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-size: 1.125rem;
  font-weight: 700;
  transition: all 0.3s ease 0s;
}
.menu__link.link-active {
  color: #fff;
}
.menu__header-actions {
  display: none;
}
.menu__logout,
.logout {
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #4d6f66;
  padding: 0.83em 1.1em;
  min-height: 52px;
  min-width: 100px;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
  text-align: center;
}
.logout{
  display: inline-flex;
}
@media (max-width: 991.98px) {
  .logout {
    padding: 0.7em;
  }
}
@media (any-hover: hover) {
  .logout:hover {
    background-color: #6ea495;
  }
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-size: 1.125rem;
  font-weight: 700;
  z-index: 5;
}
/*Buurger menu*/
.icon-menu {
  display: none;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #fff;
    text-decoration: underline;
  }
}
@media (max-width: 991.98px) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 30px;
    height: 22px;
    cursor: pointer;
    z-index: 8;
    background-color: transparent;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu span {
    top: 50%;
    transform: translate(0%, -50%);
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .menu-open.icon-menu span {
    width: 0;
  }
  .menu-open.icon-menu::before {
    top: 50%;
    transform: rotate(-45deg) translate(0%, -50%);
  }
  .menu-open.icon-menu::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0%, 50%);
  }
  /*----------------*/
  .menu {
    position: fixed;
    z-index: 5;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    transition: left 0.3s ease 0s;
    padding: 9.375rem 1.25rem 1.875rem;
  }
  .menu::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 7.3125rem;
    background-color: #000;
  }
  .menu.menu-open,
  .menu.menu-open::before {
    left: 0;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    row-gap: 2.5rem;
  }
  .menu__link {
    font-size: 2.25rem;
  }
}

@media (max-width: 650px) {
  .header__logo {
    overflow: hidden;
    flex: 0 0 77px;
    max-width: 4.8125rem;
  }
  .menu__link {
    font-size: 2rem;
  }
}
@media (max-width: 550px) {
  .menu__body {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    align-items: center;
  }
  .header__actions,
  .logout {
    display: none;
  }
  .menu__header-actions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
    align-items: center;
  }
  .menu__logout{
    display: inline-flex;
  }
  .header__logo {
    max-width: none;
    overflow: auto;
    flex: 0 0 auto;
  }
}
