<header class="header">
  <div class="header__container">
    <a routerLink="/" class="header__logo"
      ><img src="./assets/images/logo-white-highres.png"
    /></a>
    <div class="header__menu menu" [class.menu-open]="isMenuOpen">
      <nav class="menu__body">
        <ul class="menu__list">
          <li class="menu__item"><a routerLink="/" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" class="menu__link">Головна</a></li>
          <li class="menu__item"><a routerLink="/requests-page" routerLinkActive="link-active" class="menu__link">Запити</a></li>
          <li class="menu__item"><a routerLink="/account-page" class="menu__link">Профіль</a></li>
        </ul>
        <div *ngIf="!authenticatedUserMode" class="menu__header-actions">
          <app-login-button></app-login-button>
          <app-signup-button ></app-signup-button>
        </div>
        <a *ngIf="authenticatedUserMode" class="menu__logout" (click)="onLogout()" style="cursor:pointer;">Вийти</a>
      </nav>
    </div>
    <div *ngIf="!authenticatedUserMode" class="header__actions">
      <app-login-button></app-login-button>
      <app-signup-button></app-signup-button>
    </div>
    <a *ngIf="authenticatedUserMode" class="logout" (click)="onLogout()" style="cursor:pointer;">Вийти</a>
    <button
      type="button"
      class="menu__icon icon-menu"
      [class.menu-open]="isMenuOpen"
      (click)="toggleMenu()">
      <span></span>
    </button>
  </div>
</header>
