.page-authorization{
  background-color: #59725ecb;
  padding: 30px 15px;
  min-height: 100vh;
  display: flex;
  position: relative;
}
.loading-spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
}
.authorization {
  max-width: 800px;
  color: #FFF8F8;
  background-color: #424242;
  border-radius: 20px;  
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease 0s;
}
.authorization.dusk {
  opacity: 0.8;
  background-color: #363636;
}
.authorization__title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.4;
  padding-top: 20px;
  padding-bottom: 0.9em;
  border-bottom: 1px solid #fff;
}
.form {
  padding: 10px 20px 10px;
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.form-group {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: center;
  flex: 1 1 auto;
}
.form-group__row {
  flex: 1 1 100%;
}
.form-group__row input {
  color: #fff;
}
.form-group__row input::placeholder{
  color: #dbd8d8;
}
.form-group__label {
  color: #fff;
}
.radio-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 10px;
  flex: 1 1 100%;
  margin-bottom: 20px;
}
.have-account {
  padding: 10px 0;
  text-align: center;
  background-color: #000;
}
.next-step-button{
  display: inline-block;
  align-self: center;
  width: 200px;
  height: 40px;
}
.have-account button {
  font-size: 1rem;
  color: red;
  transition: all 0.3s ease 0s;
}
.password-field {
  position: relative;
}
.tips {
  padding: 10px;
  color: #000;
  position: absolute;
  z-index: 10;
  top: -100px;
  left: 50%;
  transform: translate(-50%,0%);
  width: 17.5rem;
  background: rgba(255, 255, 255, 0.61);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
}
.tips div {
  display: flex;
  align-items: center;
}
.tips span {
  padding: 8px;
  cursor: pointer;
}
.tips p {
  flex: 1 1 auto;
  margin-bottom: 4px;
}
.tips__list li {
  list-style: inside;
}
.form-agreement{
  flex: 1 1 auto;
}
.form-agreement span{
  font-weight: 600;
  cursor: pointer;
}
.form-agreement span:hover{
  text-decoration: underline;
}
.form-group__buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.form-group__btn{
  flex: 1 1 200px;
}
@media (any-hover: hover){
  .have-account button:hover{
    text-decoration: underline;
    color: rgb(249, 104, 104);
  }
  .browse-btn:hover{
    background-color: #6ea495;
  }
  .upload-btn:hover{
    border: 1px solid #6ea495;
    background-color: #4c766b;
  }
}
@media (max-width: 26.6238rem){
  .confirm-title {
    font-size: 1rem;
  }
  .btn {
    /* padding: 6px; */
    font-size: 14px;
  }
}
