/* MAIN STYLES FILE*/

/* canceling base browser styles */
@import "./normalize.css";
/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
:root {
  /* devices' width vars for media queries */
  /* --pc: 90em;
  --tablet: 62em;
  --mobile: 47.9em;
  --mobileSmall: 29.9em; */
  --fontFamily: "Poppins", sans-serif;
  --baseFontSize: 1rem;
}

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: #181716;
}
body::-webkit-scrollbar-thumb {
  background: #4d6f66;
}
body::-webkit-scrollbar-thumb:hover {
  background: #7cb0a2;
}
body.lock {
  overflow: hidden;
}
body {
  font-family: var(--fontFamily);
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: var(--fontFamily);
  font-size: var(--baseFontSize);
  color: #000;
}

main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 88.125em;
  padding: 0 15px;
  margin: 0 auto;
}
