<div class="wrapper">
  <app-header></app-header>
  <main class="requsts-page">
    <div class="requsts-page__container">
      <aside class="requsts-page__filters">
        <div class="filter">
          <mat-checkbox [labelPosition]="'after'" color="primary">автомобілі</mat-checkbox>
        </div>
        <div class="filter">
          <mat-checkbox [labelPosition]="'after'" color="primary">дрони</mat-checkbox>
        </div>
        <div class="filter">
          <mat-checkbox [labelPosition]="'after'" color="primary">тепловізори</mat-checkbox>
        </div>
        <div class="filter">
          <mat-checkbox [labelPosition]="'after'" color="primary">зброя</mat-checkbox>
        </div>
        <div class="filter">
          <mat-checkbox [labelPosition]="'after'" color="primary">зброя</mat-checkbox>
        </div>
        <div class="filter">
          <mat-checkbox [labelPosition]="'after'" color="primary">їжа та особиста гігієна</mat-checkbox>
        </div>
        <div class="filter">
          <mat-checkbox [labelPosition]="'after'" color="primary">засоби зв’язку</mat-checkbox>
        </div>
        <div class="filter">
          <mat-checkbox [labelPosition]="'after'" color="primary">медикаменти</mat-checkbox>
        </div>
        <div class="filter">
          <mat-checkbox [labelPosition]="'after'" color="primary">електрифікація</mat-checkbox>
        </div>
      </aside>
      <mat-form-field class="requests-page__search">
        <mat-label>Пошук</mat-label>
        <input matInput placeholder="напр. ім'я користувача">
        <button type="button" mat-icon-button matSuffix color="primary">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <div class="requsts-page__body">
        <app-request></app-request>
        <app-request></app-request>
        <app-request></app-request>
        <app-request></app-request>
        <app-request></app-request>
        <app-request></app-request>
      </div>
      <mat-paginator #paginator class="requsts-paginator mat-elevation-z8"

        aria-label="Select page">
      </mat-paginator>
    </div>
  </main>
  <app-footer></app-footer>
</div>
